<?xml version="1.0"?>
<model>
  <name>BOE differential drive robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>linhpc</name>
    <email>linhpc@example.com</email>
  </author>
  <description>
    Gazebo model with explicit link poses for the BOE robot.
  </description>
</model>
