<?xml version="1.0"?>
<robot
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="boe_robot">

  <!-- Các thông số chính của robot -->
  <xacro:property name="wheel_radius" value="0.03272"/>
  <xacro:property name="wheel_separation" value="0.115"/>

  <!-- Màu thân xe -->
  <material name="body_color">
    <color rgba="0.796 0.824 0.937 1.0"/>
  </material>

  <!-- Màu bánh xe -->
  <material name="wheel_color">
    <color rgba="0.12 0.12 0.12 1.0"/>
  </material>

  <!--
    base_footprint nằm trên mặt đất,
    ở gần tâm giữa hai bánh chủ động.
  -->
  <link name="base_footprint"/>

  <!--
    Dịch base_link so với tâm hai bánh:
    x = -0.03193 m
    y =  0.004294 m
    z =  0.03215 m
  -->
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin
      xyz="-0.0319316266 0.0042939669 0.03215"
      rpy="0 0 0"/>
  </joint>

  <!-- Thân xe -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://boe_robot_description/meshes/base_link.STL"/>
      </geometry>
      <material name="body_color"/>
    </visual>
  </link>

  <!-- Bánh chủ động bên trái -->
  <link name="wheel_left_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://boe_robot_description/meshes/wheel_left_link.STL"/>
      </geometry>
      <material name="wheel_color"/>
    </visual>
  </link>

  <joint name="wheel_left_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin
      xyz="0.0329316266 0.0532060331 0.0005737626"
      rpy="1.5707963268 0 3.1415926536"/>
    <axis xyz="0 0 1"/>
    <limit effort="1.0" velocity="20.0"/>
  </joint>

  <!-- Bánh chủ động bên phải -->
  <link name="wheel_right_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://boe_robot_description/meshes/wheel_right_link.STL"/>
      </geometry>
      <material name="wheel_color"/>
    </visual>
  </link>

  <joint name="wheel_right_joint" type="continuous">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <origin
      xyz="0.0309316266 -0.0617939669 0.0005737626"
      rpy="1.5707963268 0 0"/>
    <axis xyz="0 0 -1"/>
    <limit effort="1.0" velocity="20.0"/>
  </joint>
  <!-- ====================================================== -->
  <!-- Cụm bánh caster                                       -->
  <!-- ====================================================== -->

  <!-- Đế caster được gắn cố định với thân robot -->
  <link name="caster_base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://boe_robot_description/meshes/caster_base_link.STL"/>
      </geometry>
      <material name="body_color"/>
    </visual>
  </link>

  <joint name="caster_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_base_link"/>
    <origin
      xyz="-0.0049954073 -0.0042939669 0.0185737626"
      rpy="0 0 0"/>
  </joint>

  <!-- Phần caster có thể tự xoay theo hướng chuyển động -->
  <link name="caster_rotation_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://boe_robot_description/meshes/caster_rotation_link.STL"/>
      </geometry>
      <material name="body_color"/>
    </visual>
  </link>

  <joint name="caster_rotation_joint" type="continuous">
    <parent link="caster_base_link"/>
    <child link="caster_rotation_link"/>
    <origin
      xyz="-0.0361714130 0 -0.0106540966"
      rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="0.5" velocity="10.0"/>
  </joint>

  <!-- Bánh caster có thể lăn tự do -->
  <link name="caster_wheel_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://boe_robot_description/meshes/caster_wheel_link.STL"/>
      </geometry>
      <material name="wheel_color"/>
    </visual>
  </link>

  <joint name="caster_wheel_joint" type="continuous">
    <parent link="caster_rotation_link"/>
    <child link="caster_wheel_link"/>
    <origin
      xyz="0.0179800159 0.0039088610 -0.023"
      rpy="-1.5707963268 0 0"/>
    <axis xyz="-0.0665291474 0 0.9977844820"/>
    <limit effort="0.5" velocity="20.0"/>
  </joint>
</robot>